<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>PyFlaSQL</h1>
    <hr>
    <h2>Hello {{username}}</h2>
    <hr>
    <h2>TP1 - Reconnaissance / Footprint</h2>
    <h3><a href="{{url_for('blueprint.srie_tp1_ipaddr')}}">IP Address</a></h3>
    <h3> <a href="{{url_for('blueprint.srie_tp1_pingaddr')}}">Ping an IP address</a></h3>
    <h3><a href="#">Method 3</a></h3>
    
    <hr>
    <a href="{{url_for('blueprint.dashboard')}}">DashBoard</a>
    <br>
    <a href="{{url_for('blueprint.logout')}}">Logout</a>
</body>

</html>