<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Address</title>
</head>

<body>
    <h1>PyFlaSQL</h1>
    <hr>
    <h2>IP address</h2>
    <h3>Private: {{content["ip_address_private"]}}</h3>
    <h3>Public: To be implemented</h3>

    <hr>
    <a href="{{url_for('blueprint.dashboard')}}">Back to Dashboard</a>
    <br>
    <a href="{{url_for('blueprint.logout')}}">Press here to logout</a>
</body>

</html>