<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.

The page is an HTML template for a web-based tool called "Ping an IP Address" that allows users to ping an IP address. The page includes the following components:

    Head: Contains meta information such as character encoding, viewport settings, and a title for the page.
    Body: Contains the main content of the page.
        Header: Includes the title "PyFlaSQL" and a horizontal line.
        Heading 2: "Ping an IP address" as the main heading.
        Heading 3: Displays a preformatted command for using the 'ping' command with placeholders for the number of pings and IP address.
        Form: Contains a form for submitting the IP address and number of pings to ping.
            Input fields: Includes two input fields, one for the IP address and one for the number of pings, with placeholders and default values.
            Submit button: Allows the user to submit the form to ping the specified IP address.
        Heading 2: "Help" as a subheading.
        Paragraph: Provides information on how to use the tool, including placeholders for the IP address and number of pings.
        Heading 2: "Command output" as a subheading.
        Preformatted text: Displays the output of the 'ping' command, which is dynamically generated and inserted into the page.
        Horizontal line.
        Links: Includes two links to go back to the dashboard and logout from the current session.

{% raw %}
Note: The page also contains Flask-specific template syntax, denoted by double curly braces {{ }} and {% %}, for rendering dynamic content using Flask, a Python web framework.
Anything in this block is treated as raw text, including {{ curly braces }} and {% other block-like syntax %}
{% endraw %}
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping</title>
    <link rel="stylesheet" href="{{ url_for('blueprint.static', filename='main.css') }}">
</head>

<body>
    <h1>PyFlaSQL</h1>
    <hr>
    <h2>Ping an IP address</h2>
    <h3>Command used:</h3>
    <pre><code>$ {% raw %}ping -c {{ npings }} {{ ip_address }}{% endraw %}</code></pre>


    <form method="POST" action="">
        {{ content["form"].hidden_tag() }}
        {{ content["form"].ip_address }}
        {{ content["form"].npings }}
        {{ content["form"].submit }}
    </form>

    <br>
    <h2>Help</h2>
<p>Please refer to the following information for help on how to use this tool:</p>
<h3>Usage:</h3>
<ul>
    <li><strong>{ip_address}</strong>: The IP address to ping.</li>
    <li><strong>{npings}</strong>: The number of times ping is run.</li>
</ul>
<p>Fields marked with * are mandatory.</p>
    <br>
    <h2>Command output:</h2>
    <pre>{{ content["shell_output"] }}</pre>
    <br>
    
    <hr>
    <a href="{{url_for('blueprint.dashboard')}}">Back to Dashboard</a>
    <br>
    <a href="{{url_for('blueprint.logout')}}">Press here to logout</a>
</body>

</html>