<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ping</title>
</head>

<body>
    <h1>PyFlaSQL</h1>
    <hr>
    <h2>Ping an IP address</h2>
    <h3><pre>$ ping -c {npings} {ping_address}</pre></h3>


    <form method="POST" action="">
        {{ content["form"].hidden_tag() }}
        <label for="ip_address">IP Address:</label><br>
        <input type="text" id="ip_address" name="ip_address" placeholder="x.x.x.x" value=""><br>
        <label for="npings">Number of pings}:</label><br>
        <input type="npings" id="npings" name="npings" placeholder="3" value=""><br><br>
        <input type="submit" name="Ping" value="Ping">
    </form>

    <br>
    <h2>Help</h2>
    <h3>{ping_address}: the IP address.</h3>
    <h3>{npings}: you can set the number of times ping is run. </h3>
    <h3>Fields marked with * are mandatory</h3>
    <br>
    <h2>Command output:</h2>
    <pre>{{ content["shell_output"] }}</pre>
    <br>
    
    <hr>
    <a href="{{url_for('blueprint.dashboard')}}">Back to Dashboard</a>
    <br>
    <a href="{{url_for('blueprint.logout')}}">Press here to logout</a>
</body>

</html>