<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('blueprint.static', filename='main.css') }}">
</head>

<body>
    <h1>PyFlaSQL</h1>
    <hr>
    <h2>Hello {{username}}</h2>
    <hr>
    <h2>TP4 - Gaining Access</h2>
    <h2>Method 1</h2>
    <a href="#">Method 1</a>
    <h2>Method 2</h2>
    <a href="#">Method 2</a>
    <hr>
    <a href="{{url_for('blueprint.dashboard')}}">DashBoard</a>
    <br>
    <a href="{{url_for('blueprint.logout')}}">Logout</a>
</body>

</html>