<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP4 - Gaining Access{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP4 - Gaining Access</h2>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            Description text. Description text. Description text. Description text.
        </p>
                
        <p class="lead">
            Description text. Description text. Description text. Description text. 
        </p>
    </div>

    <!-- Useful tools title -->
    <h2 class="mt-5 text-center">Useful tools used in this phase</h2>    

    <div class="container p-5 my-5 border">
        <p class="lead">
            Below is a list of tools that can be used for this pentesting phase:
        </p>
        
        <ol class="list-group">
            <li class="list-group-item">
                <h5><a href="#" class="list-group-item-action">Tool 1</a></h5>
                <p class="lead">
                    Description text. Description text. Description text. Description text.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="#" class="list-group-item-action">Tool 2</a></h5>
                <p class="lead">
                    Description text. Description text. Description text. Description text.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="#" class="list-group-item-action">Tool 3</a></h5>
                <p class="lead">
                    Description text. Description text. Description text. Description text.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="#" class="list-group-item-action">Tool 4</a></h5>
                <p class="lead">
                    Description text. Description text. Description text. Description text.
                </p>
            </li>
            <li class="list-group-item">
                <h5><a href="#" class="list-group-item-action">Tool 5</a></h5>
                <p class="lead">
                    Description text. Description text. Description text. Description text.
                </p>
            </li>
        </ol>
    </div>

</div>
{% endblock %}

