<!--
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyFlaSQL - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('blueprint.static', filename='dashboard.css') }}">
</head>

<body>
    <h1>PyFlaSQL - Dashboard</h1>
    <hr>
    <h2>Hello <span id="username">{{username}}</span></h2>
    <hr>
    <ul class="menu-list">
        <li><a href="{{url_for('blueprint.srie_tp1_recon_footprint')}}">TP1 - Reconnaissance / Footprint</a></li>
        <li><a href="{{url_for('blueprint.srie_tp2_scanning_networks')}}">TP2 - Scanning Networks</a></li>
        <li><a href="{{url_for('blueprint.srie_tp3_enumeration')}}">TP3 - Enumeration</a></li>
        <li><a href="{{url_for('blueprint.srie_tp4_gaining_access')}}">TP4 - Gaining Access</a></li>
    </ul>
    <hr>
    <ul class="menu-list">
        <li><a href="{{url_for('blueprint.user_profile')}}">User profile</a></li>
        <li><a href="{{url_for('blueprint.logout')}}">Logout</a></li>
    </ul>
</body>

</html>