<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="username" value=""><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="password" value=""><br><br>
        <input type="submit" name="login" value="Login">
    </form>
    

    <a href="{{ url_for('blueprint.register') }}">Don't have an account? Sign Up</a>
</body>

</html>